<!doctype html>
<html lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="#000000">
    <title>
      {{ page_title }}
      {%- if current_tags -%}
        &ndash; tagged "{{ current_tags | join: ', ' }}"
      {%- endif -%}
      {%- if current_page != 1 -%}
        &ndash; Page {{ current_page }}
      {%- endif -%}
      {%- unless page_title contains shop.name -%}
        &ndash; {{ shop.name }}
      {%- endunless -%}
    </title>
    {{ content_for_header }}
    {{ 'base.css' | asset_url | stylesheet_tag }}
  </head>

  <body>
    {% render 'site-header' %}
    {% render 'cart-toast' %}

    <main id="MainContent" role="main" tabindex="-1">
      {{ content_for_layout }}
    </main>

    <script src="{{ 'cart.js' | asset_url }}" defer></script>
  </body>
</html>
